.contatosFooter {
  background-color: #005695;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  color: #ffff;
  padding-left: 2%;
  font-size: 18px;

  nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
  }
}

.copyright {
  background-color: #232020;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}
